[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/amr/Desktop/Solved - Sony WH-1000XM2 Headphones on FreeBSD via Bluetooth | The FreeBSD Forums.desktop]
row=2
col=0

[/home/amr/Desktop/Michael W. Lucas - Absolute FreeBSD_ The Complete Guide to FreeBSD-No Starch Press (2018).pdf]
row=1
col=0

[/home/amr/Desktop/handbook_en.pdf]
row=0
col=0

[/home/amr/Desktop/porters-handbook_en.pdf]
row=3
col=0

